body {background-image:
   radial-gradient(#c74216,#1f6b65 );
font-family: Dangermode, Calibri, Arial;
}
h1 {
  font-family: camdara , Calibri, Arial;
  text-align: center;
}
#content{
  margin: auto;
  width: 250px
  text-align: justify;
}
.segment{
  padding: 20px;
  border: 7px dotted #d90da6;
}
p{
  margin-top: 0px;
}
.segment img{
  max-width: 500px;
  float: left;

}

.segment .rightimg{
  float: right;
margin-left:10px;
}
.segment .leftimg{
  float: left;
margin-right:10;
}
